<a href="https://colab.research.google.com/github/Polyakri/projects/blob/main/Data_Science/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the dataset and print it

In [34]:
import pandas as pd

# Read the CSV file
data = pd.read_csv('ds_salaries.csv')

#Drop data i think are irrelevant
data.drop('work_year', axis=1, inplace=True)
data.drop('salary_currency', axis=1, inplace=True)
data.drop('salary', axis=1, inplace=True)


# Print the contents of the CSV file
print(data)

     experience_level employment_type                 job_title  \
0                  SE              FT  Principal Data Scientist
1                  MI              CT               ML Engineer
2                  MI              CT               ML Engineer
3                  SE              FT            Data Scientist
4                  SE              FT            Data Scientist
...               ...             ...                       ...
3750               SE              FT            Data Scientist
3751               MI              FT  Principal Data Scientist
3752               EN              FT            Data Scientist
3753               EN              CT     Business Data Analyst
3754               SE              FT      Data Science Manager

      salary_in_usd employee_residence  remote_ratio company_location  \
0             85847                 ES           100               ES
1             30000                 US           100               US
2             25500                 US           100               US
3            175000                 CA           100               CA
4            120000                 CA           100               CA
...             ...                ...           ...              ...
3750         412000                 US           100               US
3751         151000                 US           100               US
3752         105000                 US           100               US
3753         100000                 US           100               US
3754          94665                 IN            50               IN

     company_size
0               L
1               S
2               S
3               M
4               M
...           ...
3750            L
3751            L
3752            S
3753            L
3754            L

[3755 rows x 8 columns]

In [35]:
missing_values = data.isnull().sum()

if(missing_values.sum()==0):
  print ("No dropped rows")
else:
  clean_data = data.dropna()
  rows_dropped = data.rows()-clean_data.rows()
  print(f"Dropped {rows_dropped} rows")
  data = clean_data

No dropped rows

Print each different job title.

In [36]:
# Count the occurrences of each unique element in the "Job Title" column
job_title_counts = data['job_title'].value_counts()

# Print the count of each unique job title
for job_title, count in job_title_counts.items():
    print(f'{job_title}')

Data Engineer
Data Scientist
Data Analyst
Machine Learning Engineer
Analytics Engineer
Data Architect
Research Scientist
Data Science Manager
Applied Scientist
Research Engineer
ML Engineer
Data Manager
Machine Learning Scientist
Data Science Consultant
Data Analytics Manager
Computer Vision Engineer
AI Scientist
BI Data Analyst
Business Data Analyst
Data Specialist
BI Developer
Applied Machine Learning Scientist
Machine Learning Infrastructure Engineer
Big Data Engineer
Director of Data Science
AI Developer
Applied Data Scientist
Head of Data
Machine Learning Software Engineer
Data Operations Engineer
ETL Developer
BI Analyst
Head of Data Science
Lead Data Scientist
Data Science Lead
Principal Data Scientist
Data Quality Analyst
NLP Engineer
Machine Learning Developer
Data Infrastructure Engineer
Lead Data Engineer
Machine Learning Researcher
Deep Learning Engineer
Data Analytics Engineer
Lead Data Analyst
Cloud Database Engineer
Computer Vision Software Engineer
Product Data Analyst
Data Science Engineer
MLOps Engineer
3D Computer Vision Researcher
Business Intelligence Engineer
Data Operations Analyst
Machine Learning Research Engineer
Cloud Data Engineer
Machine Learning Manager
Lead Machine Learning Engineer
Financial Data Analyst
Data Scientist Lead
Data Analytics Consultant
Marketing Data Analyst
Data Modeler
Principal Data Analyst
Principal Data Engineer
Data Lead
Autonomous Vehicle Technician
Insight Analyst
ETL Engineer
Data Analytics Lead
Applied Machine Learning Engineer
Data Analytics Specialist
AI Programmer
Data Strategist
Big Data Architect
Software Data Engineer
Principal Data Architect
Head of Machine Learning
Cloud Data Architect
Data DevOps Engineer
BI Data Engineer
Staff Data Scientist
Deep Learning Researcher
Staff Data Analyst
Product Data Scientist
Power BI Developer
Compliance Data Analyst
Data Science Tech Lead
Data Management Specialist
Principal Machine Learning Engineer
Azure Data Engineer
Manager Data Management
Marketing Data Engineer
Finance Data Analyst

Find mean of each of job title regardless experience

In [43]:
mean_salary_by_job = data.groupby('job_title')['salary_in_usd'].mean()

# 2 decimal digits precision
mean_salary_by_job = mean_salary_by_job.round(2)

mean_salary_by_job= mean_salary_by_job.sort_values(ascending=False)
# Print the mean salary for each job title
for job_title, mean_salary in mean_salary_by_job.items():
    print(f" {job_title} - {mean_salary}")

 Data Science Tech Lead - 375000.0
 Cloud Data Architect - 250000.0
 Data Lead - 212500.0
 Data Analytics Lead - 211254.5
 Principal Data Scientist - 198171.12
 Director of Data Science - 195140.73
 Principal Data Engineer - 192500.0
 Machine Learning Software Engineer - 192420.0
 Data Science Manager - 191278.78
 Applied Scientist - 190264.48
 Principal Machine Learning Engineer - 190000.0
 Head of Data - 183857.5
 Data Infrastructure Engineer - 175051.67
 Business Intelligence Engineer - 174150.0
 Machine Learning Scientist - 163220.08
 Research Engineer - 163108.38
 Data Architect - 161713.77
 Research Scientist - 161214.2
 Head of Data Science - 160591.67
 ML Engineer - 158352.44
 Data Science Lead - 156334.38
 Machine Learning Manager - 155701.33
 Cloud Database Engineer - 155000.0
 Machine Learning Engineer - 154690.73
 Analytics Engineer - 152368.63
 Marketing Data Analyst - 144327.0
 Computer Vision Engineer - 143536.11
 Machine Learning Infrastructure Engineer - 143011.82
 Data Engineer - 142785.73
 Data Analytics Manager - 141879.09
 Data Scientist - 140869.77
 Lead Data Engineer - 139230.33
 AI Developer - 136666.09
 Data Scientist Lead - 136153.0
 NLP Engineer - 132785.29
 ETL Developer - 131453.6
 BI Developer - 129846.15
 MLOps Engineer - 129000.0
 Big Data Architect - 125802.5
 Manager Data Management - 125000.0
 Deep Learning Researcher - 123405.0
 Principal Data Analyst - 122500.0
 Data Specialist - 119642.86
 Data Modeler - 118900.0
 Data Manager - 116613.34
 Applied Data Scientist - 113726.3
 Lead Data Scientist - 112775.56
 AI Scientist - 110120.88
 Applied Machine Learning Scientist - 109452.83
 Deep Learning Engineer - 109241.0
 Data Analyst - 108716.23
 Machine Learning Researcher - 105872.67
 Staff Data Scientist - 105000.0
 BI Analyst - 104888.89
 Financial Data Analyst - 101666.67
 Azure Data Engineer - 100000.0
 Applied Machine Learning Engineer - 99875.5
 Data Operations Engineer - 98485.0
 Data Analytics Specialist - 95000.0
 Data Science Engineer - 93482.0
 Data Operations Analyst - 90562.5
 Cloud Data Engineer - 87300.67
 Data Science Consultant - 87011.75
 Data Quality Analyst - 85311.43
 Lead Machine Learning Engineer - 82927.67
 Data Analytics Consultant - 81500.0
 Data Strategist - 81000.0
 Computer Vision Software Engineer - 77694.6
 Head of Machine Learning - 76309.0
 Machine Learning Developer - 74518.29
 Lead Data Analyst - 72569.4
 ETL Engineer - 71394.5
 Big Data Engineer - 68672.0
 Data Management Specialist - 68293.0
 Data Analytics Engineer - 67866.17
 Marketing Data Engineer - 66970.0
 Business Data Analyst - 66065.4
 Software Data Engineer - 62510.0
 Finance Data Analyst - 61896.0
 BI Data Analyst - 60440.13
 BI Data Engineer - 60000.0
 Product Data Analyst - 56497.2
 AI Programmer - 55000.0
 Data DevOps Engineer - 53654.0
 Insight Analyst - 46786.0
 Machine Learning Research Engineer - 42819.25
 Principal Data Architect - 38154.0
 Compliance Data Analyst - 30000.0
 Autonomous Vehicle Technician - 26277.5
 3D Computer Vision Researcher - 21352.25
 Staff Data Analyst - 15000.0
 Product Data Scientist - 8000.0
 Power BI Developer - 5409.0